extends layout

block content
  h2 Straight from the Heart

  p
    | On December 23rd, 2014, our exchange student was opening her birthday present from her mom. It was a beautiful garland (for lack of another term) that would normally be strung across the doorway in the kitchen. Small gifts, cards and messages were hanging with various ribbon and bows. It was beautiful. "I have to make those!" My daughter suggests Etsy is the place for me. Wow! 

  p
    | I made a few garlands, with Carla's blessing, and they were fun to make. Time consuming (Carla's mom spends all year preparing). I soon realized that it wasn't feasible to make these through Etsy. However, I discovered another world.

  p
    | While going through Etsy to search for donations (a kindergarten student was just diagnosed with cancer) for chemo kits, I discovered the wonderful world of paper. I found a wonderful mentor in Julia of 
    a(href="//www.etsy.com/ca/shop/CardsbyJeweleighaB" target="_blank")
      em Cards by JeweleighaB
    | . She got me started and she still helps. Lovely lady with a lovely shop.

  p
    | By September, friends and colleagues took notice and invited me to take part in our school's "Milk and Cookies with Santa". So much fun! I sold and my name was out there. As of December 1st, 2015, my cards and tags will be at the "Les Activités La-Di-D'Art" in Ste. Therese, Quebec.

  p I've met so many amazing people because of Etsy. I hope you will too.
  p.recycled I recycle products
    ul
      -
        recycled = ["envelopes", "sleeves", "shipping supplies"]
      each item in recycled
        li= item
  p.upcycle I upcycle
    ul
      -
        upcycled = ["tags", "ornaments", "hot chocolate/tea bags"]
      each item in upcycled
        li= item