extends layout

block title
  - var pageTitle = "Contact Me"

block content
  .contactPage
    p You can contact me via...
      ul.methods
        li
          span Email
          a(href="mailto:cynthia.ugolini@gmail.com")
            | cynthia.ugolini@gmail.com
        li
          span Facebook Messenger
          a(href="https://www.messenger.com/t/631470083606899" target="_blank")
            | Click here!
        li
          span Etsy Conversations
          a(href="https://www.etsy.com/ca/conversations/new?with_id=42594297" target="_blank")
            | Click here!