extends layout

block title
  - var pageTitle = "Die Cuts"

block content
  .diecutsPage
    br
    #carousel.carousel.slide(data-ride='carousel' data-interval="3000")
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#carousel', data-slide-to='0')
        li(data-target='#carousel', data-slide-to='1')
        li(data-target='#carousel', data-slide-to='2')
        li(data-target='#carousel', data-slide-to='3')
      // Wrapper for slides
      .carousel-inner
        .item.active
          img(src='/img/photos/diecuts/01.jpg', alt='Pine tree tags')
        .item
          img(src='/img/photos/diecuts/02.jpg', alt='Easter Bunny cut-outs')
        .item
          img(src='/img/photos/diecuts/03.jpg', alt='Noel + tag cut-outs')
        .item
          img(src='/img/photos/diecuts/04.jpg', alt='Mason jar labels')
    // Carousel

  .scripts
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
