extends layout

block title
  - var pageTitle = "Homepage"

block content
  h2 Welcome!
  p 
    | Thank-you for dropping in! I'm new to Etsy and everyday is a learning experience.
  p
    | Do not hesitate to ask for something special! That makes me feel special, too! You want something special. I feel special. We're working together to create something special for someone special. It's all about feeling special.
  p
    | Just about everything I make is one-of-a-kind, however, I will always try to duplicate if you love it that much. If you want a colour change, I will look into it. Need a number or name added? No problem. Your wish is my command.

  p
    | Have a look at my 
    a(href='//www.facebook.com/LoveKnotsOnHeartStrings' target='_blank')
      | Loveknots on Heartstrings on Facebook
    |. You can order one here. I'll be creating some ready made Heartstrings in the near future, but they are intended to be "created" by you. Email is the only way with this one. Please give us time for this one. They take at least 2 hours to build... once all your items have been created/selected.

  p
    | I appreciate you and your time. Do drop in again!
