extends layout

block title
  - var pageTitle = "Homepage"

block content
  .homepage
    img.welcome(src='/img/photos/index/02.jpg')

    h2 Welcome!
    p 
      | Thank-you for visiting "All on a HeartString" where, hopefully, my treasures will be tugging at 
      em your
      |  heart strings. I use quality products and emboss, cut, and build each item myself. I am mindful of keeping green and also recycle/upcycle various paper products that may otherwise find themselves in the trash. 
    p
      | My dad always told me that homemade is best because it shows someone how special they are. This stuck with me through the years, and now I create unique cards for others to share. A handcrafted card made straight from the heart is a gift in itself. The love and care that goes into each piece of art is priceless. 
      em "Rome wasn't created in a day." 
      | A year can be invested in the evolution and creation of just one masterpiece. The same loving attention is put into everything I do from the selection of high quality paper to the way it will be transformed. For this reason, my items are one-of-a-kind or limited in quantity (excluding die cuts and confetti).

    p
      | Please take a peek at my 
      a(href='//www.facebook.com/LoveKnotsOnHeartStrings' target='_blank')
        | Loveknots on Heartstrings page on Facebook
      |. I'll send you a coupon code in return for your "like". 

    p
      | I appreciate you and your time. Do drop in again!

    .spacer
    .welcome
      h3 About Me
      p
        | I work at our local elementary school with special needs students by day and get my creative juices flowing in the evening. My children and husband are my inspiration and they've all given me their ideas and honest opinions. Their cheerleading and constant reminder of keeping the faith and believing in myself is an asset. Ironic... it's what I say to my students all the time!
