doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path
    != css()
    .header
      a.topnav(href='/') Home
      a.topnav(href='/events') Events
      a.topnav(href='/special') Special Orders
      a.topnav(href='/about') About
      a.topnav(href='/contact') Contact Me
      a.topnav(href='//www.AllOnAHeartString.etsy.com' target="_blank") My Etsy Shop
  body
    .body-content
      block content
    .footer
      .social-media
        a(href='//www.facebook.com/LoveKnotsOnHeartStrings' target="_blank")
          img.facebook(src='/img/icons/facebook-logo.svg')
        a(href='//twitter.com/MrMrsUgolini' target="_blank")
          img.twitter(src='/img/icons/twitter-logo.svg')
        a(href='//www.pinterest.com/mrsugolini/' target="_blank")
          img.pinterest(src='/img/icons/pinterest-logo.svg')
    != js()
