block title

doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='All On A HeartString by Cynthia Ugolini')
    meta(name='author', content= "Chris Ugolini")
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', type='image/ico', href='/img/global/favicon.ico')
    title #{pageTitle} | All On A HeartString
    != css()
    .header
      a.home.topnav(href='/') All on a HeartString
      a.topnav(href='/events') Events
      a.topnav(href='/special') Special Orders
      a.topnav(href='/about') About
      a.topnav(href='/contact') Contact Me
      a.topnav(href='//www.AllOnAHeartString.etsy.com' target="_blank") My Etsy Shop

  body
    .container
      .body-content
        block content
      .footer
        .social-media
          a(href='//www.facebook.com/LoveKnotsOnHeartStrings' target="_blank")
            img.facebook(src='/img/icons/facebook-logo.svg')
          a(href='//twitter.com/MrMrsUgolini' target="_blank")
            img.twitter(src='/img/icons/twitter-logo.svg')
          a(href='//www.pinterest.com/mrsugolini/' target="_blank")
            img.pinterest(src='/img/icons/pinterest-logo.svg')
        .footer-nav
          a(href='/policy') Policies
        .quote-container
          img(src="/img/global/avatar-75x75.jpg")
          .quote
            | A memorable way to celebrate special occasions, milestones and life's achievements (large and small). From your heart to theirs, with love.
            br
            strong.name -  Cynthia Ugolini
          
    != js()
