extends layout

block title
  - var pageTitle = "Policy"

block content
  h2 Policies
  ul.policy
    li
      a.policy(href='#shipping') Shipping
    li
      a.policy(href='#payment') Payment
    li
      a.policy(href='#refunds') Refunds and Exchanges
    li
      a.policy(href='#additional') Additional Policies and FAQs

  .spacer

  .policies
    strong.polHead
      a(name='shipping') Shipping
    p 
      span
        strong PRODUCTION TIME

      span Most products are ready to ship and will be out in 1 - 2 business days. Heartstrings can take up to 2 weeks to prepare, make and ship. We will be e-mailing each other on this one. Special items; special time frame. Production time varies and is indicated on each product page.

      span For purchases of items in large quantities - it is possible that additional production time is required. If this is the case with your order, you will receive an email indicating the shipping date. I also ask you to confirm/cancel your order via email before your order is processed.

      span All orders are sent from my home in Mascouche, Quebec, Canada, J7L 2K2. I use Canada Post for all orders. 

      span Shipping fees cover the shipping costs and handling charges. I will pack your order in a way that ensures the lowest cost possible.

      span Except for the Express delivery option, all orders are shipped in regular mail - without a tracking number.

    p
      span
        strong SHIPPING IN CANADA
        br
        | The delivery times to Canada is 2 to 10 business days.
        br
        | Express delivery possible - 1-3 business days with extra fee.

      span ***Please contact me for pricing***

    p
      span
        strong SHIPPING IN THE UNITED STATES
        br
        | Delivery times for the United States is 4 to 12 business days.
        br
        | Express delivery possible - see shipping option when you check out.
        | I am not responsible for delivery delays caused by customs.
        | No " gift" or " commercial sample " on the package, nor will I represent a reduced value on the entry forms.

    p
      span
        strong SHIPPING TO INTERNATIONAL
        br
        | Delivery times for International is 2 to 6 weeks.
        | Express delivery possible - see shipping option when you check out.
        | I am not responsible for delivery delays caused by customs.
        | No " gift" or " commercial sample " will be written on the package, nor will I represent a reduced value on the entry forms .

    p
      span
        strong SHIPPING ADDRESS 
        br
        | Note that I use the shipping address provided by Etsy. Please verify your information before placing your order. Thank you. 

    p
      span
        strong BE KIND TO OUR PLANET
        br
        | Most orders are packed in padded, reusable, biodegradable and sometimes used envelopes. Don't be surprised if your package arrives in a recycled cereal box! I've received some interesting packages from my Etsy friends! We are a most creative bunch!

    .spacer

    strong
      a(name='payment') Payment
    p
      span
        strong Immediate payment 
        | is required when you check out.
      span
        | I accept Paypal, Etsy gift cards, and all major credit card payments.

    .spacer

    strong
      a(name='refunds') Refunds and Exchanges
    p
      span I'm hoping I don't need one. Having said that, don't wait too long. Open your package, check it out and get back to me! I cannot be held responsible once it's in Canada Post's hands.

      span Everything I send is pretty much flat. It should survive the trip.

    .spacer

    strong
      a(name='additional') Additional Policies and FAQs
    p
      span Take a peek at my Heartstrings on 
        a(href="//www.facebook.com/LoveKnotsOnHeartStrings" target="_blank") Facebook
        |. You can order one here. I'll be creating some ready made Heartstrings in the near future, but they are intended to be "created" by you. Email is the only way with this one. Please give us time for this one. They take at least 2 hours to build... once all your items have been created/selected.
      span HeartStrings have always been delivered personally. Depending on what you select, a bubble envelope is generally large enough.

    .spacer

    em#polUpdated
      | Last Updated 25 May, 2014