extends layout

block title
  title Special Requests | All On A HeartString

block content
  .specialPage
    h2 Unique Items
    p
      | All my unique and one of a kind cards can be found on my 
      a(href='//www.etsy.com/ca/shop/AllOnAHeartString?ref=hdr_shop_menu' target='_blank') 
        | Etsy shop
      |  or on my 
      a(href='//www.facebook.com/LoveKnotsOnHeartStrings/' target='_blank')
        | Facebook page
      | . Contact me with the details, and we will work together to create a card that is straight from your heart to theirs!