.header
  border-bottom: 4px dashed #EDB65E
  padding-bottom: 5px !important

  .topnav
    padding-right: 10px

  .home
    color #E45937 !important
    text-decoration none
    font-size: 120%
    font-weight: bold

  a:hover
    font-style: italic