.header
  border-bottom: 4px dashed #EDB65E
  padding-bottom: 5px !important

  .topnav
    padding-right: 10px

  .home
    bold()
    font-size: unit($font-size, 'px') + 20%
    color #E45937 !important
    text-decoration none

  a:hover
    italic()