@import '_settings'
@import '_header'
@import '_footer'

normalize-css()
base()

// Global styling
html
  background-color: #F3CF95

.body-content, .header
  padding: 0 50px 0 50px
.header
  padding-top: 50px

.header, .footer
  a:link, a:visited
    color: black

p
  color: grey

p.recycled
  color: blue

p.upcycle
  color: orange
